p {
	line-height: 1.3;
}
dd {
	line-height: 1.3;
}
a:link {
	color: #336699;
	text-decoration: none;
}
a:visited {
        color: #336699;
        text-decoration: none;
}
a:hover {
        color: #336699;
        text-decoration: none;
}
a:active {
        color: #336699;
        text-decoration: none;
}
 .class1 a:link {
	color: #FFFFFF;
	text-decoration: none;
 }
 .class1 a:visited {
	text-decoration: none;
	color: #FFFFFF;
 }
 .class1 a:hover {
	text-decoration: none;
	color: #FFFF00;
 }
 .class1 a:active {
	text-decoration: none;
	color: #FFFF00;
 }
 body{
  margin:0px;
  padding:0px;
  background-color:black;
  /*120px 10px 130px 10px;*/
 }
 div#title, div#header, div#navigation, div#footer{
  position:relative;
  width:100%;
  color:white;
  background-color:#001D48;
 }
 div#title, div#header, div#navigation{
  overflow:hidden;
  z-index:3;
 }
 div#title{
  width:100%;
  top:0;
  height:90px;
 }
 div#header{
  padding:10px;
 }
 div#navigation{
  height:30px;
 }
 div#footer{
  bottom:0;
  height:110px;
 }
 div#content{
  padding:0px 20px 20px 20px;
  left:0;
  right:0;
  overflow:auto;
  background-color:white;
  color:#333333;
 }
 img#me{
  border:5px solid white;
 }
 img#interests{
  border:0px solid white;
 }
